<div class="change-password-page">
    <div class="change-password">
        
            <div class="grids">
                
                <div class="change-left">
                   <div>
                     <p>Change Password</p>
                    <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePasswordSubmit()" class="form-change">
                        <div class="change-dtls">
                            <label for="currentPassword">Current Password</label>
                            <input formControlName="currentPassword" type="password" placeholder="Current Password" />

                        </div>
                        <div class="change-dtls">
                            <label for="newPassword">New Password</label>
                            <input formControlName="newPassword" type="password" placeholder="New Password" />

                        </div>
                        <div class="change-dtls">
                            <label for="confirmPassword">Confirm New Password</label>
                            <input formControlName="confirmPassword" type="password"
                                placeholder="Confirm New Password" />

                        </div>
                        <div class="change-dtls"> <button type="submit" class="form-button">Change Password</button>
                        </div>
                    </form></div>
                </div>
                <div class="change-img"><img
                        src="https://img.freepik.com/free-vector/privacy-policy-concept-illustration_114360-7853.jpg?t=st=1726986949~exp=1726990549~hmac=3cbcd3f4f81500fc43c0b4e69abe0d5761dac3da47d297526783a8fb49fcfced&w=740"
                        alt=""></div>
            </div>
     
    </div>
</div>