<div class="header">
    <div class="top">
        <img src="https://www.nokia.com/themes/custom/onenokia_reskin/logo.svg" alt="NOKIA">
        <h2>MAT MAN PRO</h2>
        <h2><a href="#"> Admin</a></h2>
    </div>

    <div class="btm">
        <ul class="list">
            <li class="menu"><a href="" routerLink="/header/home">Home</a></li>
            <li class="dropdown menu"><a href="" routerLink="/header/masters">Master</a>
                <div class="drop">
                    <ul>
                        
                        <li><a href="" routerLink="/header/rcmain">RC Main Store Master</a></li>

                    </ul>
                </div>
            </li>
            <li class="dropdown menu"><a href="" routerLink="/header/mainstore">Rc Main Store</a>
            <div class="drop">
                <ul>
                    <li><a href="" routerLink="/header/receiving">Receiving</a></li>
                </ul>
            </div></li>
            <li class="menu"><a href="" routerLink="/header/about">About</a></li>
           
        </ul>
    </div>
</div>

<router-outlet></router-outlet>