<div class="mx-wd">
    <div class="head">
        <h2>RC Main Store Master</h2>
    </div>
    <div class="upload">
        <h4>Upload Material</h4>
        <div class="gr_btn">
            <div class="choose-btn">
                <input class="" #fileinput type="file" (change)="onFileChange($event)">
                <button class="s_btn" (click)="onSave()">Save</button>
                <button class="c_btn" (click)="onClear()">Clear</button>
            </div>
            <div>

                <button class="smpl-file" (click)="downloadTemplate()">Click here to download the sample file</button>

                <button class="Excel_btn" (click)="loadUploadedData()">Excel Template</button>
            </div>
        </div>
    </div>
    <form [formGroup]="materialForm" (ngSubmit)="onSubmit()">
        <div class="grids">
            <div class="grid">
                <div>
                    <label for="partCode">Part Code</label>
                    <input formControlName="partCode" type="text" name="partCode" id="partCode"
                        placeholder="Enter your code">
                </div>
                <div>
                    <label for="description">Description</label>
                    <input formControlName="description" type="text" name="description" id="description"
                        placeholder="Enter your Description">
                </div>
                <div>
                    <label for="umo">UOM</label>
                    <input formControlName="umo" type="text" name="umo" id="umo" placeholder="Enter your UOM">
                </div>
                <div>
                    <label for="active_ordering">Active for ordering</label>
                    <input formControlName="active_ordering" type="text" name="active_ordering" id="active_ordering"
                        placeholder="Enter your Activity">
                </div>
                <div>
                    <label for="component_usage">Component usage</label>
                    <input formControlName="component_usage" type="text" name="component_usage" id="component_usage"
                        placeholder="Enter your Usage">
                </div>
                <div>
                    <label for="type_of_component">Type of Component</label>
                    <input formControlName="type_of_component" type="text" name="type_of_component" id="type_of_component" placeholder="Enter your Type">
                </div>
                <div>
                    <label for="rohsStatus">ROHS Status</label>
                    <input formControlName="rohsStatus" type="text" name="rohsStatus" id="rohsStatus"
                        placeholder="Enter your ROHS Status">
                </div>
                <div>
                    <label for="leadtime">Total Lead Time</label>
                    <input formControlName="leadtime" type="text" name="leadtime" id="leadtime"
                        placeholder="Enter your Lead Time">
                </div>
                <div>
                    <label for="msdStatus">MSD Status</label>
                    <input formControlName="msdStatus" type="text" name="msdStatus" id="msdStatus"
                        placeholder="Enter your MSD status">
                </div>
                <div>
                    <label for="bgvalue">BG</label>
                    <input formControlName="bgvalue" type="text" name="bgvalue" id="bgvalue" placeholder="Enter your BG">
                </div>
                <div>
                    <label for="productGroup">Product Group</label>
                    <input formControlName="productGroup" type="text" name="productGroup" id="productGroup"
                        placeholder="Enter your Product Group">
                </div>
                <div>
                    <label for="productFamily">Product Family</label>
                    <input formControlName="productFamily" type="text" name="productFamily" id="productFamily"
                        placeholder="Enter your Product Family">
                </div>
                <div>
                    <label for="thLimit">TH Limit</label>
                    <input formControlName="thLimit" type="text" name="thLimit" id="thLimit"
                        placeholder="Enter your TH Limit">
                </div>
                <div>
                    <label for="productName">Product Name</label>
                    <input formControlName="productName" type="text" name="productName" id="productName"
                        placeholder="Enter your Product Name">
                </div>
                <div>
                    <label for="location">Location</label>
                    <input formControlName="location" type="text" name="location" id="location"
                        placeholder="Enter your Location">
                </div>
                <div>
                    <label for="compatibility">Compatibility</label>
                    <input formControlName="compatibility" type="text" name="compatibility" id="compatibility"
                        placeholder="Enter Your Compatibility">
                </div>
                <div>
                    <label for="unitPrice">Unit Price $</label>
                    <input formControlName="unitPrice" type="text" name="unitPrice" id="unitPrice"
                        placeholder="Enter your Unit Price">
                </div>
            </div>
        </div>
        <div class="btn">
            <div>

                <button class="c_btn" (click)="clearform()">Clear</button>
                <button type="submit" [disabled]="materialForm.invalid" class="s_btn">Submit</button>
            </div>
        </div>
    </form>

    <div *ngIf="loading" class="loading-overlay">
       
        <div class="spinner">
           
        </div>
      </div>
      
      <!-- <app-uploaded-data class="updata"></app-uploaded-data> -->
    
    <div *ngIf="showData" >
        <app-uploaded-data [data]="uploadedData"></app-uploaded-data>
      </div>
    


</div>

