<div class="enterprises">
    <div class="img-enterprises">
      <img
        src="https://www.nokia.com/sites/default/files/2024-05/nokia-glasses-extended-enterprises-1920-600.jpg?height=400&width=1365&resize=1"
        alt="nokia enterprises"
      />
      <div class="img-name"><h1>Enterprises</h1></div>
      <div class="network">
        <h3>Networks that remove boundaries and accelerate breakthroughs</h3>
        <p>
          With high-performance connectivity, we can accelerate digital potential
          and bring to life the benefits of AI, automation and the industrial
          metaverse. By harnessing the power of intelligent networks, businesses
          can exponentially boost productivity, resilience, security and agility -
          define the future of work and find new ways to achieve their
          sustainability goals.
        </p>
        <p>
          High-performance networking empowers your digitalization strategy and
          unlocks the potential of your data, fueling innovation and building
          businesses that sense, think and act better together. That's the power
          of n.
        </p>
      </div>
        <div class="flex">
          <div class="f-img">
            <a href=""
              ><img
                src="https://www.nokia.com/sites/default/files/2024-03/cloud-and-digital-infrastructure-providers-1920x1080.jpg?height=774&width=1376"
                alt=""/>
            </a>
            <div class="content">
              <h4>Cloud and digital infrastructure</h4>
              <p>Solutions and technologies to help finance, healthcare, retail and automotive enterprises ensure a fast and profitable digital transformation.  
              </p>
            </div>
          </div>
          <div class="f-img">
            <a href=""
              ><img
                src="https://www.nokia.com/sites/default/files/2023-12/energy-header.png?height=774&width=1376"
                alt=""
              />
            </a>
            <div class="content">
              <h4>Energy and resources</h4>
              <p>Take automation, safety and efficiency to new levels with our proven communication solutions  
              </p>
            </div>
          </div>
  
          <div class="f-img">
            <a href=""
              ><img
                src="https://www.nokia.com/sites/default/files/2024-05/resrcid22481_nokiamwc19_ct3_1920x1080-enterprise.jpg?height=774&width=1376"
                alt=""
              />
            </a>
            <div class="content">
              <h4>Enterprise IT infrastructure</h4>
              <p>Connections that build business and the world.
              </p>
            </div>
          </div>
  
          <div class="f-img">
            <a href=""
              ><img
                src="https://www.nokia.com/sites/default/files/2023-12/car-assembly.png?height=774&width=1376"
                alt=""
              />
            </a>
            <div class="content">
              <h4>Manufacturing</h4>
              <p>From 5G Smart Factories to transformed digital supply chain and logistics operations, find the solutions you need to realize your Industry 4.0 operation.
              </p>
            </div>
          </div>
         
          <div class="f-img">
            <a href=""
              ><img
                src="https://www.nokia.com/sites/default/files/2024-03/research-and-education-1920x1080.jpg?height=774&width=1376"
                alt=""
              />
            </a>
            <div class="content">
              <h4>Research and education</h4>
              <p>Deliver new opportunities for students and research organizations to better connect – at the fastest speeds imaginable.
              </p>
            </div>
          </div>
  
          <div class="f-img">
            <a href=""
              ><img
                src="https://www.nokia.com/sites/default/files/2023-12/train.png?height=774&width=1376"
                alt=""
              />
            </a>
            <div class="content">
              <h4>Transportation and logistics</h4>
              <p>Upgrade every journey with solutions built on our deep experience and Nokia Bell Labs innovation
              </p>
            </div>
          </div>
  
  
        </div>
        
      
    </div>
  </div>