.forgot-password-page{
    max-width: 1500px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    font-family:  'Josefin Sans', sans-serif;
    background-image: url("https://wallpaperaccess.com/full/1528297.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.forgot-password-page  .forgot-password:hover{
    padding: 2.5px;
}

.forgot-password img{
    width: 350px;
    height: 400px;
    border-radius: 5px;

}
  .grids{
    display: flex;
    flex-wrap: wrap;
  }  
.forgot-password{
  
    width: 700px;
    height:400px;
    margin: auto;
    box-shadow: 0 4px 27px rgba(0,0,0,.1);
    border-radius: 5px;
    background-color: rgb(255, 254, 254) ;
    text-align: center;
    padding: 150x 0 0 0;
    color:rgb(8, 110, 235) ;
    font-size: 14px;
   
}

.forgot-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 18px;
}
.form-dtls{
    margin: 20px;
}

.form-dtls button{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.form-dtls button:hover{
   
    cursor: pointer;
}
.form-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.form-input input{

    background-color: rgba(128, 128, 128, 0.142);
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-left: 10px;
}