<div class="forgot-password-page">
    <div class="forgot-password">
      <div class="grids">
        <div>
            <img src="https://img.freepik.com/free-vector/privacy-policy-concept-illustration_114360-7853.jpg?t=st=1726986949~exp=1726990549~hmac=3cbcd3f4f81500fc43c0b4e69abe0d5761dac3da47d297526783a8fb49fcfced&w=740" alt="">
        </div>
        <div class="forgot-right">
            <div>
                <p>Forgot Password</p>
                <div class="forgot-form">
                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit()">
                    
                    <div class="form-dtls form-input"> 
                        <label for="email">Email</label>
                        <input formControlName="email" class="form-input" type="email" placeholder="Enter your email" />
                    </div>
                    <div class="form-dtls"> <button type="submit" class="form-button">Reset Password</button></div>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>