<div class="mx_wd">
    <div class="container">
        
        <div class="head">
            <div>
                <h2>Explore how our networking technology helps you realize the full potential of digital</h2>
            </div>
            

        </div>
        <div class="grids">
            <div class="grid">
                <a href="" routerLink="/header/enterprises"><img src="https://www.nokia.com/sites/default/files/2024-08/plant_workmen_1.jpg?height=&width=" alt="">
                    <h4>Enterprises </h4></a>
            </div>
            <div class="grid">
                <img src="https://www.nokia.com/sites/default/files/2024-08/gettyimages-1136623583-16-9_1.jpg?height=&width="
                    alt="">
                <h4>Service providers</h4>
            </div>
            <div class="grid">
                <img src="https://www.nokia.com/sites/default/files/2024-08/train_handle-16-9_0.jpg?height=&width="
                    alt="">
                <h4>Public sector</h4>
            </div>
        </div>
        <div>
            <h2>Discover our networking solutions
            </h2>
        </div>

        <div class="links">
            <div class="link">
                <div><a href="#">Private networks</a></div>
                <div> <a href="#">Mobile networks</a></div>
                <div> <a href="#">Fixed networks</a></div>
            </div>
            <div class="link">
                <div> <a href="#">IP networks</a></div>
                <div> <a href="#">Optical networks</a></div>
                <div> <a href="#">Data center</a></div>
            </div>
            <div class="link">
                <div> <a href="#">Security</a></div>
                <div> <a href="#">Network slicing</a></div>
                <div> <a href="#">Network automation</a></div>
            </div>

        </div>



    </div>
</div>